################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################


obj
bin\
thumbs.db
.vs

Bookshop.App/Bookshop.App/bin
Bookshop.App/Bookshop.Data/bin
Bookshop.App/Bookshop.Data/obj
Bookshop.App/Bookshop.Migration/bin
Bookshop.App/Bookshop.Migration/obj
Bookshop.App/Bookshop/bin/Debug/net6.0/Bookshop.dll
Bookshop.App/Bookshop/bin/Debug/net6.0/Bookshop.pdb
Bookshop.App/Bookshop/obj/Debug/net6.0/Bookshop.csproj.CoreCompileInputs.cache
Bookshop.App/Bookshop/obj/Debug/net6.0/Bookshop.dll
Bookshop.App/Bookshop/obj/Debug/net6.0/Bookshop.pdb
Bookshop.App/Bookshop/obj/Debug/net6.0/ref/Bookshop.dll
Bookshop.App/Bookshop/obj/Debug/net6.0/refint/Bookshop.dll
