################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Bookshop.App/Bookshop.App/Bookshop.App.csproj
obj
bin
.vs