################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################


obj
bin\
thumbs.db
.vs

Bookshop.App/Bookshop.App/bin
Bookshop.App/Bookshop.Data/bin
Bookshop.App/Bookshop.Data/obj
Bookshop.App/Bookshop.Migration/bin
Bookshop.App/Bookshop.Migration/obj
