{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": { "Database": "Data Source=DESKTOP-6J70549\\SQLEXPRESS;Initial Catalog=Bookshop;User=admin;Password=admin;Connect Timeout=5;TrustServerCertificate=True;" },
  "Security": {
    "Access-Control-Allow-Origin": [
      "http://localhost:3000",
     
      "http://192.168.0.195:3000"
   



    ],
    "Strict-Transport-Security": "",
    "Content-Security-Policy": "default-src 'self'; img-src 'self' data: *; connect-src 'self' *; script-src 'self' 'unsafe-inline' 'unsafe-eval' storage.googleapis.com; style-src 'self' 'unsafe-inline'; font-src 'self' fonts.gstatic.com",
    "Feature-Policy": "",
    "Request-Token": false
  }
}
  