{
  "ConnectionStrings": {
    "DefaultConnectionString": "Data Source=tcp:localhost,1433;Initial Catalog=bookshop;User=sa;Password=Qazwsx123@;Connect Timeout=5;TrustServerCertificate=True;"
  },
  "Mail": {
    "Username": "47d2d2d068daeb",
    "Password": "821b92e67b0ddc"
  }
}